python-dotenv
pandas
numpy
langgraph
langchain
langchainhub
langchain-openai
langchain-community
snowflake
snowflake-snowpark-python[modin]
streamlit
faker
snowflake-connector-python[secure-local-storage]